@media all and (max-width: 1025px) and (min-width: 720px){
    .header-content{
        height: 100vh;
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: whitesmoke;
        font-family: raleway;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 40px;
    }
    .header-image{
        float: right;
        height: auto;
        width: 0%;   
    }
    .social-media-links{
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        padding: 10px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .header-content-box{
        padding-left: 0px;
        z-index: 2;
        text-align: center;
    }
    .contact{
        display: none;
    }
    #breaker{
        height: 100%;
        width: 200%;
        background-color: #0aa9c9;
        opacity: 1;
        animation: breakeranimate 2s ease-in-out;
        display: none;
        transition: all .4s ease;
        z-index: 10;
        position: fixed;
    }
    @keyframes breakeranimate{
       0%{ transform : translateX(-100%)}
       50%{ transform : translateX(0%) }
       100%{ transform : translateX(100%) }
    }
    @-webkit-keyframes breakeranimate{
        0%{ transform : translateX(-100%) }
        50%{ transform : translateX(0%) }
        100%{ transform : translateX(100%) }
    }
    .header-content-box{
        z-index: 2;
        text-align: center;
        height: auto;
        padding-right: 0px;
        width: auto;
    
    }
    #about-content{
        display: flex;
        flex-direction:column;
        align-items: center;
        color: whitesmoke;
        justify-content: center;
        height: auto;
        width: 100%;
        padding:10px;
    }
    .about-header{
        color: whitesmoke;
        justify-content: center;
        font-size: 45px;
        font-family: raleway;
        padding:15px;
        font-weight: 900;
    }
    .about-first-paragraph{
        color: whitesmoke;
        justify-content: center;
        font-size: 40px;
        font-family: poppins;
        width: 95%;
        padding: 25px;
        font-weight: 400;
    }
    .about-first-paragraph .color{
        font-size: 35px
    }
    .about-first-line{
        font-size: 32px;
        opacity: 1;
        margin-bottom: 10px;
        display: block;
    }
    .about-second-line{
        opacity: .8;
        font-size: 24px;
    }
    .about-main{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column-reverse;
    }
    .about-img img{
        width: 90%;
        height: 360px;
        padding: 5px;
    }
    .about-img {
        width: 90%;
        height: 360px;
        text-align: center;
        overflow: hidden;
    }
    .service{
        height:auto;
        width:45%;
        margin: 2%;
        background-color: #191919;
        display: inline-block;
        box-shadow:0px 0px 25px rgb(0,0,0,.1);
        position: relative;
        text-align: center;
        z-index: 2;
        border-radius: 10px;
        padding: 10px;
        overflow: hidden;
    }
    .service-description h2{
        padding: 10px;
        margin: 5px;
        font-weight: 200;
        font-size: 22px;
    }
    .service-description p{
        padding: 10px;
        font-weight: 200;
        font-size: 15px;
        opacity: .8;
    }
    .skill{
        width:40%;
    }
    .prog{
        height:35px;
    }
    .skills-content{
        height: auto;
        width:100%;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .portfolio{
        height:auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5%;
        padding-right: 2%;
    padding-top: 50px;
    padding-bottom: 40px;
    }
    .portfolio-text {
        width: 88%;
        padding-left: 0%;
        margin: 0%;
        margin-left: 0px;
        margin-top: 11%;
        z-index: 1;
        background: #080808;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 15%;
        text-align: center;
        border-radius: 50px;
    }
        .portfolio-image{
            position: relative;
        }
            .portfolio-text h2{
                font-size: 35px;
                font-family: poppins;
                font-weight: 200;
                padding: 15px;
            }
            .portfolio-text p{
                font-size: 20px;
                opacity: .8;
                font-family: poppins;
                font-weight: 200;
                padding: 15px;
            }
            .cursor{
                display: none;
            }
            .service:hover .service-img img{
                box-shadow:0px 0px 0px 0px #0aa9c9 ;
            }
            .portfolio-image img{
                height: 350px;
                width: 100%;
                position: relative;
            }
            .portfolio-image{
                height: 380px;
                width: 70%;
            }
            #navigation-bar img{
                height: 80px;
                position: absolute;
                top: 15%;
                left: 2.5%;
                opacity: .8;
                transition: all .4s ease;
            }

            .contact-content {
                width: 90%;
                margin: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .contact-info {
                width: 90%;
                height: 500px;
                background-position: center;
                background-size: cover;
                border-radius: 16px;
                margin-bottom: 25px;
                position: relative;
                overflow: hidden;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Add shadow */
                transition: transform 0.3s ease; /* Add transition for hover effect */
            }
            
            .contact-info::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: #101010;
                opacity: .7;
                pointer-events: none;
                border-radius: 16px; /* Apply border radius */
            }
            
            .contact-info-header {
                position: relative;
                z-index: 2;
                font-size: 24px;
                font-family: poppins;
                font-weight: 400;
                color: whitesmoke;
                padding: 20px;
            }
            
            .contact-info:hover {
                transform: scale(1.05); /* Add scale effect on hover */
            }
            
            .contect-info-content-line {
                height: auto;
                padding: 10px;
                position: relative;
                z-index: 2;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: left;
                margin-left: 5%;
            }
            
            .contact-info-icon-text {
                color: whitesmoke;
                padding: 15px;
                font-family: poppins;
            }
            
            .contact-info-icon-text h6 {
                font-size: 15px;
                opacity: .8;
            }
            
            .contact-info-icon-text p {
                font-size: 14px;
                opacity: .7;
            }
        }